/* Изменить шрифт всего сайта */

/* Название товара */
.woocommerce div.product .product_title {
    text-align: left;
    padding-top: 10%;
    margin-bottom: 0.3rem;
}

/* Цвет - цены */
.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce ul.products li.product .price {
    color: #2f2f2f;
    font-size: 1.7em;
}

.woocommerce ul.products li.product .price ins,
.woocommerce div.product p.price ins, .woocommerce div.product span.price ins {
    text-decoration: none;
}

/* Магазин > цена  */
.woocommerce ul.products li.product .price {
    font-size: 1.2em;
}


/* Цвет кнопки - Один товар */
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: #2f2f2f;
    color: #fff;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background-color: #484848;
}

/* Цвет ссылок */
.woocommerce a {
    color: #2f2f2f;
}

.woocommerce a:hover {
    color: #484848;
}

/* Распродажа */
.woocommerce ul.products li.product .onsale {
    margin: 0.5em 0.5em 0 0;
}

.woocommerce span.onsale {
    border-radius: 30px;
    padding: 0.1em 1.5em;
    background-color: transparent;
    color: #2f2f2f;
    top: 1.5em;
    left: 1em;
}

/* Размер шрифта Магазин > Название товара */
.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
    font-size: 1.5em;
}









.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    padding: .818em 1.2em;
}

.woocommerce #content div.product div.summary div.product_meta .posted_in {
    display: block;
}

.woocommerce ul.products li.product .button {
    display: none;
}

.woocommerce .woocommerce-loop-product__title,
.woocommerce .woocommerce-LoopProduct-link .price{
    text-align: center;
}

.woocommerce .woocommerce-products-header {
    padding: 2em 0;
}

.woocommerce .woocommerce-loop-category__title .count {
    background-color: transparent;
}

.woocommerce .woocommerce-NoticeGroup ul li {
    padding-bottom: 6px;
}

.woocommerce table.shop_table td,
.woocommerce table.shop_table th,
.woocommerce table.shop_table thead:first-child tr:first-child th {
    border: none;
}

.woocommerce a.remove {
    color: #2f2f2f!important;
}

.woocommerce a.remove:hover {
    background: #2f2f2f;
}

.woocommerce .cart_totals h2 {
    font-size: 1.6rem;
}

.woocommerce .product-name {
    font-weight: bold;
}

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    width: 120px;
}

.woocommerce .woocommerce-MyAccount-navigation ul li {
    list-style: none;
    border-bottom: 1px solid #eeeeee;
    font-weight: bold;
    font-size: 1rem;
    text-align: left;
    padding: 2px 23px;
}

.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link a {
    text-decoration: none;
    padding: 0.875em 0;
    display: block;
}

.woocommerce .woocommerce-MyAccount-content .woocommerce-notices-wrapper p {
    margin-bottom: 1.5rem;
}

.woocommerce .woocommerce-products-header__title {
    /*font-size: 2.6rem;*/
    /*color: #303030;*/
}

/* Аккаунт woocommerce (меню сайта almaz) */

.woocommerce-account .site-header,
.woocommerce-account .site-footer {
    display: none;
}

.woocommerce-account {
    font-family: Lato, sans-serif!important;
}

.woocommerce-account h1 {
    display: none;
}

.woocommerce-account p {
    font-size: 1rem;
    color: #050505;
}

.woocommerce-account .woocommerce-MyAccount-content p {
    text-align: left;
}

.woocommerce-account .addresses .title .edit {
    float: left;
    font-weight: bold;
}

.woocommerce-account address {
    text-align: left;
    font-style: normal;
    font-size: 1rem;
}

